body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
body,html {
    width: 100%;
    height: 100%;
}
#tabs {
    background-color: #232634;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.tab {
    width: 190px;
    
    color: white;
    position: relative;
    margin-right: 8px;
    cursor: pointer;
}
.tab:not(.active)::after {
    position: absolute;
    content: "";
    background-color: #51576d;
    width: 1px;
    height: 26px;
    transform: translate(-4px,5px);
}
.tab:not(.active):hover {
    background-color: #303446;
}
.tab.active {
    background-color: #626880;
}
#tabs2 {
    margin-left: 8px;
    height: 36px;
    display: flex;
    max-width: calc(100% - calc(8px + 44px));
}
.icon {
    position: absolute;
    top: 6px;
    left: 5px;
}
.title {
    position: absolute;
    top: 8px;
    left: 35px;
    width: 120px;
    max-width: calc(100% - 65px);
    text-overflow: ellipsis;
    overflow: hidden;
}
.close {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.close:hover {
    background-color: rgba(255, 255, 255, 0.281);
}
#newtab {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 24px;
}
#newtab:hover {
    background-color: rgba(255, 255, 255, 0.281);
}
.page {
    background-color: #1a1c27;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: clip;
    margin: 5px;
}
.page:not(.active) {
    display: none;
}
#views {
    display: flex;
    height: calc(100% - 50px);
    background-color: #1a1c27;
}